@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="text-align:center">School Managment Web Application</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="/Students/Index">Students</a></h2>
        <p>
            Get the list of all the students and the courses they are taking at the moment.
        </p>
        <p><a class="btn btn-default" href="/Students/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><a href="/Courses/Index">Courses</a></h2>
        <p>See all our courses currently available at our school. Also check out which instructors are teaching diffrent courses.</p>
        <p><a class="btn btn-default" href="/Courses/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2><a href="/Instructors/Index">Instructors</a></h2>
        <p>Check out all the current instructors and see which specific course they are currently teaching</p>
        <p><a class="btn btn-default" href="/Instructors/Index">Learn more &raquo;</a></p>
    </div>
</div>